			*{margin:0px;padding:0px}
			body{font-size:12px;color:#666;font-family:"微软雅黑"}
			.clear{clear:both}

			.bod{width:80%;margin:0px auto;min-width:992px;min-height:1000px;}
			.bod .top{
				font-size:36px;
				
			}
			.bod .top a{text-decoration:none;font-size:15px;}
			.bod .top a:hover{
				font-size:18px;color:red;
			}
			.bod .top span{
				font-size:25px;
				
			}
			.bod .muent{
				min-width:992px;
				background: #4cbf36;
				line-height: 2em;
				border-radius: 3px;
				box-shadow: 2px 3px 1px #a2e997;
			}
			.bod .muent a{
				/*margin-left:1%;  */
				padding:10px 4%;
				font-size:1.2em;
				text-decoration:none;
				color:#fff;
			}
			.bod .muent a:hover{
				background:#fff;
				color:#555;
			}
			.bod .corse{
				margin:10px auto;
				min-width:992px;
			}
			.bod .corse .left{
				min-height:900px;
				border:2px #ccc solid;
				box-shadow: 2px 3px 1px #a2e997;
				margin-left:0.3%;
				width:20%;
				float:left;
			}
			/*	left超链接效果css	*/
			.bod .corse .left a{text-decoration:none;color:#777;display:block;}
			.bod .corse .left li:hover a{
				color:#e64040;
				background:#f6eeee;
			}
			.bod .corse .right{
				min-height:1000px;
				
				box-shadow: 2px 3px 1px #a2e997;
				width:79%;
				margin-left:0.3%;
				float:left;
			}
			.bod .corse .left ul{
				list-style-type:none;
				padding-left:0.2em;
			}
			.bod .corse .left ul li{
				padding-left:0.5em;
				cursor: pointer;
				line-height:2em;
			}
			.bod .corse .left ul li:hover{
				color:#e64040;
				background:#f6eeee;
			}


			.bottom{
				text-align:center;
				line-height:6em;
			}

			/*固定位置定位
			#top{
				background:#444;
				color:#fff;
				text-decoration:none;
				position: fixed;
				width: 78px;
				right: 20%;
				bottom: 20px;text-indent:1em;line-heighe:18px
			}*/